@import "../../../../../assets/styles/navbar.scss";
.navbar {
    height: $navbar-height;
    background: rgba(0, 0, 0, 0.05);
    // background-color: transparent !important;
    a {
        cursor: pointer;
    }
}