<header class="header">
    <nav class="navbar fixed-top navbar-expand-md navbar-dark" (mouseover)="hover = true" (mouseleave)="hover = false" [ngStyle]="{ 'background': hover ? 'rgba(0, 0, 0, 0.7)' : ''}">
        <a class="navbar-brand" [href]="['dashboard']"><img class="img-fluid px-3" width="200px" [src]="['assets/portfolio/MarioBurgos_logo.png']" alt="LOGO"></a>
        <button class="navbar-toggler mx-3" type="button" data-toggle="collapse" data-target="#toggler" aria-controls="toggler" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

        <div class="collapse navbar-collapse justify-content-end px-3" id="toggler">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link" [href]="['dashboard']" routerLinkActive="active">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [href]="['projects']" routerLinkActive="active">Projects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [href]="['blog']" routerLinkActive="active">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [href]="['about']" routerLinkActive="active">About me</a>
                </li>
            </ul>
        </div>
    </nav>
</header>