<div class="custom-container">
    <div class="barra">
        <a [href]="['#blog-section']">BLOG</a>
        <div class="cortina"></div>
    </div>
    <div class="barra">
        <a [href]="['#projects-section']">PROYECTOS</a>
        <div class="cortina"></div>

    </div>
    <div class="barra">
        <a [href]="['#about-section']">SOBRE MI</a>
        <div class="cortina"></div>

    </div>
    <div class="barra">
        <a [href]="['#about-section']">CONTACTO</a>
        <div class="cortina "></div>

    </div>
    <div class="barra ">
        <a [href]="['#']"><i class=" bi bi-hand-thumbs-up-fill "></i></a>
        <div class="cortina "></div>
    </div>
</div>