        @media (max-width:600px) {
            .custom-container {
                flex-direction: column;
            }
            .barra {
                height: 20vh;
            }
            .barra:nth-child(1) {
                animation: slide-in-down 1s;
            }
            .barra:nth-child(2) {
                animation: slide-in-left 1s;
            }
            .barra:nth-child(3) {
                animation: slide-in-right 1s;
            }
            .barra:nth-child(4) {
                animation: slide-in-left 1s;
            }
            .barra:nth-child(5) {
                animation: slide-in-up 1s;
            }
        }
        
        @media (min-width:600px) {
            .barra {
                height: 100vh;
            }
            .barra:nth-child(1) {
                animation: slide-in-right 1s;
            }
            .barra:nth-child(2) {
                animation: slide-in-down 1s;
            }
            .barra:nth-child(3) {
                animation: slide-in-up 1s;
            }
            .barra:nth-child(4) {
                animation: slide-in-down 1s;
            }
            .barra:nth-child(5) {
                animation: slide-in-left 1s;
            }
        }
        
        .custom-container {
            display: flex;
            justify-content: space-between;
            padding: 0;
        }
        
        .cortina {
            width: 100%;
            height: 100%;
            transform: skew(30deg);
            background: rgba(255, 255, 255, 0.1);
            top: 0;
            left: 0;
            position: absolute;
            z-index: 1;
        }
        
        .cortina:hover {
            transform: scale(2);
            transition: transform 1s;
        }
        
        .barra {
            width: 100%;
            text-align: center;
            border: 1px solid #fff;
            font-family: Fredoka;
            font-size: 2rem;
            color: #fff;
            position: relative;
            z-index: 0;
            overflow: hidden;
            a {
                position: relative;
                top: 50%;
                z-index: 2;
                cursor: pointer;
                color: #FFF;
                text-decoration: none;
            }
        }
        
        .barra:hover {
            font-size: 3rem;
        }
        
        .barra:nth-child(1) {
            background: #244F75;
            animation-delay: .05;
            animation-fill-mode: backwards;
        }
        
        .barra:nth-child(2) {
            background: #60BFBF;
            animation-delay: .2;
            animation-fill-mode: backwards;
        }
        
        .barra:nth-child(3) {
            background: #8C4B7E;
            animation-delay: .4s;
            animation-fill-mode: backwards;
        }
        
        .barra:nth-child(4) {
            background: #F8BB44;
            animation-delay: .6s;
            animation-fill-mode: backwards;
        }
        
        .barra:nth-child(5) {
            background: #F24B4B;
            animation-delay: .8s;
            animation-fill-mode: backwards;
        }
        
        @keyframes slide-in-right {
            0% {
                -webkit-transform: translate3d(-100%, 0, 0);
                transform: translate3d(-100%, 0, 0);
            }
            100% {
                -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
            }
        }
        
        @keyframes slide-in-left {
            0% {
                -webkit-transform: translate3d(100%, 0, 0);
                transform: translate3d(100%, 0, 0);
            }
            100% {
                -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
            }
        }
        
        @keyframes slide-in-up {
            0% {
                -webkit-transform: translate3d(0, 120%, 0);
                transform: translate3d(0, 120%, 0);
            }
            100% {
                -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
            }
        }
        
        @keyframes slide-in-down {
            0% {
                -webkit-transform: translate3d(0, -120%, 0);
                transform: translate3d(0, -120%, 0);
            }
            100% {
                -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
            }
        }