.container {
    font-family: Fredoka;
    font-size: 0.8rem;
    min-height: 100vh;
    .card {
        background-color: rgba(255, 255, 255, 0.9);
        img {
            cursor: pointer;
        }
    }
}
