<div class="container pt-4">
    <ng-container *ngIf="isEmpty()">
        <table class="table table-info table-striped table-hover">
            <thead class="table-dark">
                <tr>
                    <th>Top</th>
                    <th class=" col-1 text-center ">Likes</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of ranking.slice().reverse()" class="text-joke">
                    <ng-container *ngIf="item.joke !== undefined && item.rank > 0">
                        <td>{{item.joke}}</td>
                        <td class="text-center">{{item.rank}}</td>
                    </ng-container>
                    <ng-container *ngIf="item.value !== undefined && item.rank > 0">
                        <td>{{item.value}}</td>
                        <td class="text-center">{{item.rank}}</td>
                    </ng-container>

                </tr>
            </tbody>
        </table>
    </ng-container>
    <ng-container *ngIf="!isEmpty()">
        <div class="container text-center">Empty...</div>
    </ng-container>
</div>
