<div class="container">
    <table class="table table-hover">
        <thead class="">
            <tr>
                <th>Top</th>
                <th class=" col-1 text-end ">Likes</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of ranking.slice().reverse()">
                <ng-container *ngIf="item.joke !== undefined && item.rank > 0">
                    <td>{{item.joke}}</td>
                    <td>{{item.rank}}</td>
                </ng-container>
                <ng-container *ngIf="item.value !== undefined && item.rank > 0">
                    <td>{{item.value}}</td>
                    <td>{{item.rank}}</td>
                </ng-container>

            </tr>
        </tbody>
    </table>


</div>
