<div class="container">

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Top</th>
                <th scope="col">Likes</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of ranking.slice().reverse()">
                <th scope="row">
                    <ng-container *ngIf="item.joke !== ''">{{ item.joke}}</ng-container>
                    <ng-container *ngIf="item.value !== ''">{{ item.value}}</ng-container>
                </th>
                <th scope="row" class=""> {{item.rank }} likes</th>
            </tr>
        </tbody>
    </table>


</div>
