<div class="container mt-5 py-5">
    <h1>Informacion Personal</h1>
    <div class="card-body mt-5">
        <h5 class="card-title">Mi nombre es Mario y soy un desarrollador fullstack con largas horas de dedicación.</h5>
        <p class="card-text pt-3 text-justify">
            Actualmente me estoy dedicando a diseñar SPA (Single Page Application) como la que estás viendo.</p>
        <p>Para el front end estoy utilizando Angular y para el back end Java/Springboot. Me parece una buena manera de aprovechar la solidez de una base de datos SQL y el poder de una arquitectura de microservicios empujados en lazy load hacia el navegador.
            Hay maneras de hacerlo y yo he elegido esta, pero...
        </p>
        <p>También se hace fácil al enfrascarme con servidores Nodejs, crear una API con Expressjs y "administrar" la base de datos con MongoDB.</p>
        <p>En php no hago nada, la verdad sea dicha, pero todo es ponerse...</p>
        <div class="card-body">
            <blockquote class="blockquote mb-3">
                <p>Mi mentalidad se resume en esta frase coloqual: "Dame curro que me aburro".</p>
            </blockquote>
        </div>

        <p>En fin, échale un vistazo a mis
            <a href="#projects">proyectos</a> más destacables: </p>

        <p>Gracias por pasarte por aquí.</p>

        <div class="text-center">
            <a routerLink="/projects" class="btn btn-primary">Mis Proyectos</a>

        </div>
    </div>
</div>
