<div class="container mt-5">
    <div class="card shadow">
        <div class="card-header">
            Un poco sobre mi...
        </div>
        <div class="card-body">
            <h5 class="card-title">Hola! Mi nombre es Mario Burgos</h5>
            <p class="card-text pt-3 text-justify">
                Soy un desarrollador web con muchas horas de dedicación. Actualmente me estoy dedicando a diseñar SPA (Single Page Application) en Agular y Springboot. Me parece una buena manera de aprovechar la solidez de un lenguaje SQL y el poder de una arquitectura
                de microservicios empujados en lazy load.
            </p>
            <p>También se me hace fácil enfrascarme en un servidor en Nodejs, administrar la base de datos con MongoDB y crear una API con Expressjs.</p>
            <p>Cop php no hago nada, la verdad sea dicha, pero todo es ponerse... no voy a alcanzar la maestría en una semana, pero seguro que lo aprendo rápido. Modestia aparte. Lo que quiero decir es que me gusta darle a las teclas y los proyectos interesantes.
                Todo es ponerse.</p>
            <p>Mi mentalidad se resume en esta frase coloqual: "Dame curro que me aburro".</p>
            <p>Si le das al botón puedes ver los proyectos más destacables que me han tenido entretenido durante mi trayectoria.</p>

            <p>Gracias por pasarte por aquí.</p>

            <div class="text-center">
                <a routerLink="/projects" class="btn btn-primary">Mis Proyectos</a>

            </div>
        </div>
    </div>
</div>
