.container-fluid {
    height: 100vh;
    background-color: rgba(200, 150, 255, 1);
    .h1 {
        position: absolute;
        left: 0;
        right: 0;
        top: 10vh;
        margin: 2rem;
        font-family: Eczar;
        font-weight: bolder;
        color: #ffff00;
        text-shadow: 3px 3px 2px black;
        text-align: center;
    }
}