<div class="carousel" [ngStyle]="{ 'min-height' : finalHeight }">
    <div class="carousel-btns">
        <i class="bi bi-chevron-left" (click)="setBack()"></i>
        <i class="bi bi-chevron-right" (click)="setNext()"></i>
    </div>
    <div class="carousel-content">
        <ng-container *ngFor="let section of items;">
            <div class="carousel-content-item" [ngStyle]="{'background-image': 'url('+ section.image +')', 'margin-left': section.marginLeft + '%' }">

                <h1><a [href]="section.link">{{section.title?.first}}<span>{{section.title?.second}}</span></a></h1>
                <p>{{section.subtitle}}</p>
            </div>
        </ng-container>
    </div>
    <div class="carousel-steps">
        <div class="carousel-steps-step{{ currentPosition === item.id ? '-active' : '' }}" *ngFor="let item of items" (click)="setCurrentPosition(item.id)">
        </div>
    </div>
</div>
