.container-fluid {
    position: relative;
}

.blob {
    text-align: center;
    font-family: Fredoka;
    position: absolute;
    margin: auto;
    top: 50vh;
    left: 0;
    right: 0;
    .btn {
        margin: 2rem;
    }
}
